.button{
    /* background-color: transparent;
    color: #FFFFFF; */
    font-size: 14px;
    padding: 10px 25px;
    border-radius: 20px;
    border : 1px solid; 
    text-decoration: none;
  }
  
  .button:hover{
      background: #787878;
      color: #000000;
      cursor: pointer;
  }

  .button:active, 
 .button:focus 
 {
     border:1px solid #097BE4;
  }


  