
.cars > p{
    text-align: center;
    margin : 40px auto;
}

.cars_models{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


@media screen and (max-width : 700px) {
    .cars_models{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}