.home_img{
  height: 100vh;
  object-fit: cover;
  z-index: -100;
  width: 100%;
}

.home_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    height: 70vh;
    width: 100%;
    position: absolute;
    top : 90px;
    margin-top: 30px;
  }
  
  